@font-face {
    font-family: "determination_mono_webregular";
    src: url("../fonts/determinationsanswebregular-369x-webfont.woff2") format("woff2"),
    url("../fonts/determinationsanswebregular-369x-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: determination_mono_webregular, ui-rounded;
}

h1 {
    text-align: center;
}

.spacer {
    padding-top: 20px;
}

ol li {
    list-style-type: none;
}

.attacks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.attack-creator-heading {
    margin: 0 auto;
    flex-flow: column;
    padding: 25px;
    border-style: solid;
    border-color: #5C5C5C;
    border-width: 2px;
    position: relative;
    align-items: flex-start;
    background-color: #111111;
    border-radius: 4px;
    display: flex;
    width: fit-content;
}

.attack {
    padding-top: 15px;
}

.attack-title {
    margin-left: 15px;
}

.arrow-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 7px;
    border-style: solid;
    border-color: #5C5C5C;
    border-width: 1px;
    position: relative;
    justify-content: left;
    align-items: center;
    background-color: #111111;
    border-radius: 4px;
    height: 45px;
    width: fit-content;
}

.attack-title-container {
    align-items: center;
    display: flex;
    flex-flow: wrap;
}

.add-arrow-button {
    border-width: 0;
    position: relative;
    background-color: #0D7449;
    color: #03FB3D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
}

#add-attack-button {
    background-color: #0D3174;
    color: #039CFB;
    margin-top: 25px;
    border: none;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    display: block;
    border-radius: 4px;
}

.save-level-button {
    background-color: #74400D;
    color: #FB7F03;
    margin-top: 25px;
    border: none;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    width: 415px;
    display: block;
    border-radius: 4px;
}

.delete-arrow-button {
    position: relative;
    background-color: #64460F;
    color: #FBA403;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 60px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 20px;
}

.delete-attack-button {
    position: relative;
    background-color: #590A0A;
    color: #FB0303;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 60px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 4px;
}

.random-clockwise-shift-off {
    position: relative;
    background-color: #343434;
    color: #939393;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 133px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 4px;
}

.random-clockwise-shift-on {
    display: flex;
    position: relative;
    background-color: #42228C;
    color: #AC7DFF;
    justify-content: center;
    align-items: center;
    border: none;
    width: 133px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 4px;
}

.toggle-visibility {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    width: 50px;
}

.ui-button {
    transition: all .1s ease-in-out;
}

.ui-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.save-level-button:hover {
    cursor: pointer;
}

.add-attack-button:hover {
    cursor: pointer;
}

.direction-select {
    display: flex;
    appearance: none;
    border-style: solid;
    background-color: #171717;
    border-color: #5C5C5C;
    border-width: 1px;
    font-family: inherit;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    outline: none;
    text-align-last: center;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 50px;
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    justify-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #171717;
    border-radius: 5px;
    border: 1px solid #5C5C5C;
    cursor: pointer;
    margin-right: 50px;
    color: #FFFFFF;
    
}

input, textarea {
    width: 45px;
    height: 20px;
    background: #171717;
    border-radius: 5px;
    border: 1px solid #5C5C5C;
    cursor: auto;
    margin-right: 50px;
    margin-left: 5px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input, textarea {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
}

#title-input {
    width: 400px;
    height: 30px;
    font-size: 25px;
    text-align: left !important;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
}

#description-input {
    width: 390px;
    height: 100px;
    font-size: 20px;
    text-align: left !important;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
}

#diff-and-visibility-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.direction-label {
    padding-left: 20px;
}

.header-label {
    color: #B2B2B2;
    padding-bottom: 5px;
}

.attack-delay-time-input {
    margin-right: 0 !important;
}

.attack-delay-label {
    margin-left: 20px !important;
    color: #FFFFFF;
}

body {
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 50em;
}

label {
    font-weight: bolder;
    font-size: 23px;
}

.exit-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000000;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    border: none;
    width: 60px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 4px;
}

@media screen and (max-width: 870px) {
    body {
        width: 99%;
    }
}

@media screen and (max-width: 780px) {
    .arrow-container {
        flex-flow: wrap;
        position: relative;
        align-items: center;
        display: flex;
        width: fit-content;
        height: fit-content;
        justify-content: center
    }
    
    .direction-label {
        padding-left: 0;
    }
}
