[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
six = "*"
requests = "*"
authlib = "*"
python-dotenv = "*"
psycopg2-binary = "*"
uplink = "*"

[dev-packages]

[requires]
python_version = "3"
