<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <title>Undyne Eternal</title>
    <link rel="stylesheet" href="/static/game/css/game.css">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.min.js"
            integrity="sha512-Rd2qDH7zgdpNHORK5lMbVgqO93W0Fko9s6xn8J54zu5GmWO+jqNsc1Q84zePLYCQMHSokKGAI68EhbhgTCPHLw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
            integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/datastructures-js@10.2.0/index.js"
            integrity="sha256-LZU2GcGGm44XvsPXTUHbrpqwVILRkWkJQzPu1W1q6y0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@datastructures-js/queue@4.1.3/src/queue.js"
            integrity="sha256-GHqIPmM6UOoa9i0OgbQ2yPPa0j9HSV32gFivt7WLq/U=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@datastructures-js/queue@4.1.3/index.js"
            integrity="sha256-JXFvo3hVqhfHZm4wl/DASLD0k9X8zxnYs5qdU0Cn0BE=" crossorigin="anonymous"></script>
    
    <script src="/static/game/js/vars.js"></script>
    
    <script src="/static/game/js/preload.js"></script>
    <script src="/static/game/js/rendering.js"></script>
    <script src="/static/game/js/scene.js"></script>
    
    <script src="/static/game/js/game/gamestate.js"></script>
    <script src="/static/game/js/game/box.js"></script>
    <script src="/static/game/js/game/arrow.js"></script>
    <script src="/static/game/js/game/heart.js"></script>
    <script src="/static/game/js/game/undyne.js"></script>
    <script src="/static/game/js/game/attack.js"></script>
    
    <script src="/static/game/js/attacks/testing.js"></script>
    <script src="/static/game/js/attacks/attacks.js"></script>
    
    <script src="/static/game/js/loader/sounds.js"></script>
    <script src="/static/game/js/loader/graphics.js"></script>
    <script src="/static/game/js/loader/fonts.js"></script>
    
    <script src="/static/game/js/input.js"></script>
    <script src="/static/game/js/main.js"></script>
</head>

<body></body>

</html>
