<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <title>Undyne Eternal</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="game/css/game.css") }}">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.min.js"
            integrity="sha512-Rd2qDH7zgdpNHORK5lMbVgqO93W0Fko9s6xn8J54zu5GmWO+jqNsc1Q84zePLYCQMHSokKGAI68EhbhgTCPHLw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
            integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/util/math_utility.min.js") }}"></script>
    
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/loaders/asset_loader.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/loaders/audio_manager.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/loaders/font_loader.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/loaders/graphic_manager.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/loaders/asset_manager.min.js") }}"></script>
    
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/attacks/attack_manager.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/attacks/test_attacks.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/attacks/attack_parser.min.js") }}"></script>
    
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/graphics_object.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/arrow.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/box.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/speech_bubble.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/green_rectangle_manager.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/undyne.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/player.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/hud.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/graphics/button.min.js") }}"></script>
    
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/game/undyne_dialogue.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/game/renderer_manager.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/game/keyboard_handler.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/game/attack_runner.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/game/game_handler.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="game/jsmin/main.min.js") }}"></script>
    
    <script type="text/javascript">
        window.addEventListener("load", () => {
            Main.initializeMain();
            Main.runner.load();
            Main.runner.startGame(
                {% if level_data_json | length %}
                    {{ level_data_json | tojson }}
                {% else %}
                    ""
                {% endif %},
                "{{ difficulty }}"
            );
        });
    </script>
</head>

<body>
    <a id="back-home-feed" href="{{ url_for("feed") }}" target="_self">Back to Home Feed</a>
</body>

</html>
