<!DOCTYPE html>
{% import "./components/level_feed.html" as levelTemplate %}
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Undyne Eternal {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu">
            <a class="logo pure-menu-item" href="{{ url_for('home_page') }}">
                <img class="logo-img" src="{{ url_for('static',filename='img/undyne_logo.png') }}">
            </a>
            
            <input class="pure-menu-item search-bar" type="text" placeholder="Search">
            <div class="nav-right pure-menu-item">
                <span class="launch-game launch-game-text button">Level Editor</span>
                <div class="user user-nav"><span class="fa fa-user"></span></div>
            </div>
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>