{% macro comment_in_level(username="Username", rating=0, description="") -%}
    <div class="post-page post-page-comment pure-u-4-5">
        <div class="pure-u-1-1">
            <div class="comment"><span class="fa fa-user"></span> {{ username }}</div>
            <div class="post-page-stars">
                {%- for star in range(rating |int) %}
                    <span class="fa fa-star checked"></span>
                {%- endfor %}
                {%- for star in range((5 - rating|int)) %}
                    <span class="fa fa-star-o"></span>
                {%- endfor %}
            </div>
        </div>

        <div class="comment comment-content">
            <p>
                {{ description }}
            </p>
        </div>
    </div>
{%- endmacro %}