{% macro level_in_page(title="Title", rating=0, difficulty="MEDIUM", username="Username", description="", avatar="",user_id=0) -%}

    <div class="post-page pure-u-1-6">
        <div class="pure-u-1-1">
            <h1 class="post-page-title">{{ title }}</h1>
            <div class="post-page-stars">
                {%- for star in range(rating |int) %}
                    <span class="fa fa-star checked"></span>
                {%- endfor %}
                {%- for star in range((5 - rating|int)) %}
                    <span class="fa fa-star-o"></span>
                {%- endfor %}
            </div>
            <div class="post-page-difficulty {{ difficulty }}">
                {{ difficulty | upper }}
            </div>
            <div class="post-page-user">
                {% if avatar == "" %}
                    <p><span class="fa fa-user"></span>
                        <a href="{{ url_for('user', id=user_id) }}">{{ username }}</a></p>
                {% else %}
                    <p><img src="{{ avatar }}"> <a class="text-links"
                                                       href="{{ url_for('user', id=user_id) }}">{{ username }}</a></p>

                {% endif %}
            </div>
        </div>

        <div class="post-page-description">
            <p>
                {{ description }}
            </p>
        </div>

        <div class="{{ difficulty }} post-page-play-level">
            <p class="button-text">
                Play level
            </p>
        </div>
        <div class="post-page-play-level gray-button">
            <div class="button-text">
                Write a review
            </div>
        </div>
    </div>
{%- endmacro %}