{% extends "parent_template.html" %}

{% block content %}
    <div id="username-container-parent">
        <form id="username-container" action="{{ url_for("auth.set_username") }}" method="POST">
            <h2>Pick a username:</h2>
            <label for="username-field"></label>
            <input id="username-field" type="text" name="username" placeholder="Username">
            <button id="username-continue" class="pure-button gray-button" type="submit">Continue</button>
        </form>
    </div>
{% endblock %}
