@import url("webfont.css");

html, body {
    background-color: black;
    color: white;
    font-family: "8-bit Operator Mono", sans-serif;
}

@keyframes flicker-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flicker-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flicker-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flicker-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
 * Centers the loading text (credit: https://stackoverflow.com/a/23703655)
 */
#loading-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: flicker-animation 3s infinite;
    -moz-animation: flicker-animation 3s infinite;
    -o-animation: flicker-animation 3s infinite;
    animation: flicker-animation 3s infinite;
}

#loading-container > p {
    font-size: 50px;
}

/* 
 * Centers the game on the page (credit: https://stackoverflow.com/a/7782251)
 */
#game-renderer {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
 * The back-to-home-feed button
 */
#back-home-feed {
    position: relative;
    border-width: 0;
    background-color: #0D7449;
    color: #03FB3D;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 160px;
    height: 30px;
    font-size: 17px;
    align-items: center;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}

#back-home-feed:hover {
    background-color: #0A5D3A;
}
