@import url("webfont.css");

html, body {
    background-color: black;
    color: white;
    font-family: "8-bit Operator Mono", sans-serif;
}

/* 
 * Centers the game on the page (credit: https://stackoverflow.com/a/7782251/5547232)
 */
#game-renderer {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
 * The back-to-home-feed button
 */
#back-home-feed {
    position: relative;
    border-width: 0;
    background-color: #0D7449;
    color: #03FB3D;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 160px;
    height: 30px;
    font-size: 17px;
    align-items: center;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}

#back-home-feed:hover {
    background-color: #0A5D3A;
}
